.Popup {
  min-width: 300px;
  animation: fadein 0.15s;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  cursor: auto;

  & &__close-button {
    position: absolute;
    right: 0.3rem;
    top: 0.25rem;
    background-color: rgba(0, 0, 0, 0.2);
    button {
      font-size: 1rem;
    }
  }

  & &__zoom-button {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
  }

  & &__next-button {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-left: 0.5rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
