.Popup {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  cursor: auto;
  z-index: 1;
  // position: relative !important;
  // transform: none !important;

  &__button-control {
    margin-right: 0.5rem;
  }

  :global {
    .popover {
      min-width: 340px;
    }

    .ol-control {
      position: static;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
