.ElevationProfile {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  border-radius: 4px;
  width: auto;
  animation: fadein 0.15s;
  height: 140px;

  @media only screen and (min-width: 600px) {
    & {
      width: 600px;
      margin-left: -300px;
      left: 50%;
      right: auto;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
