.ElevationProfile {
  position: fixed;
  left: 50%;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.9);
  width: auto;
  z-index: 1;
  border-radius: 4px;
  width: 600px;
  margin-left: -300px;
  animation: fadein 0.15s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
