.MapControls {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  z-index: 2;

  & &__button-control {
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 0.5em;
  }

  :global {
    .ol-control {
      margin-bottom: 0.5rem;
      position: static;
    }
  }
}

:global {
  .ol-control {
    &.ol-attribution {
      position: absolute;
    }
  }
}
