.MapControls {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;

  :global {
    .ol-control {
      margin-bottom: 0.5rem;
    }
  }
}

:global {
  .ol-control {
    position: static;

    button {
      cursor: pointer;
    }

    &.ol-attribution {
      position: absolute;
    }
  }
}
