.Map {
  .ol-full-screen {
    left: 0.5em;
    top: 7.2rem;
    right: auto;
  }

  .rotate-north {
    left: 0.5em;
    right: auto;
    top: 9.6rem;
  }

  .ol-rotate {
    left: 0.5em;
    right: auto;
    top: 12.6rem;
  }
}

.ol-control {
  button {
    cursor: pointer;
  }
}
